@keyframes scroll {
  0% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(20%);
  }
}

.animate-scroll {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

.hover\\:pause-scroll:hover {
  animation-play-state: paused;
}
